@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Frank Ruhl Libre", serif;
}

a {
  text-decoration: none;
  color: #000;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
    z-index: 10;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    z-index: 10;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.bg_img {
  background-color: #014D71;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
}

.bg_img .img_container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media all and (max-width: 767px) {
  .bg_img .img_container {
    width: 200px;
    height: 200px;
  }
}

.bg_img img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg_img .enter {
  all: unset;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10%;
  font-size: 2rem;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  padding: 5px 10px;
}

.fadeout {
  -webkit-animation: fadeout 1s ease-in forwards;
          animation: fadeout 1s ease-in forwards;
}

header {
  text-align: center;
}

header p {
  font-size: 1.3rem;
}

header .presentation_logo p {
  color: #A5B7C5;
  font-size: 2.2rem;
}

@media all and (max-width: 767px) {
  header .presentation_img {
    display: none;
  }
  header .presentation_logo p {
    font-size: 1.9rem;
  }
}

.presentation {
  text-align: center;
}

@media all and (min-width: 767px) {
  .presentation_begin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .presentation_begin .presentation_img {
    width: 50%;
    height: 800px;
  }
  .presentation_begin .presentation_img img {
    width: 100%;
    height: 100%;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .presentation_begin .presentation_logo-text {
    width: 50%;
  }
  .presentation_begin .presentation_logo-text h1 {
    position: relative;
    top: 5%;
  }
  .presentation_begin .presentation_logo-text .presentation_initial {
    position: relative;
    top: 8%;
  }
}

h1 {
  font-size: 1.7rem;
  text-decoration: underline;
  color: #2E75B6;
  margin: 20px 0;
}

.presentation_initial {
  font-size: 1.4rem;
}

.presentation_initial li {
  margin-bottom: 7px;
}

@media all and (min-width: 1200px) {
  .presentation_initial {
    font-size: 1.6rem;
  }
}

.presentation_initial .presentation_initial--bolder {
  font-weight: bolder;
}

.presentation_titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  position: relative;
}

.presentation_titre h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2rem;
}

.presentation_titre .presentation_titre--fsize {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.presentation_titre {
  position: relative;
}

.presentation_titre h2 {
  font-size: 1.7rem;
}

@media all and (min-width: 1024px) {
  .presentation_titre h2 {
    font-size: 2rem;
  }
}

.presentation_titre .defile {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media all and (min-width: 767px) {
  .presentation_titre .defile {
    display: none;
  }
}

.forme {
  position: relative;
  height: 70px;
  width: 80px;
  background-color: #2F5597;
}

.forme::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 0;
  width: 0;
  border-left: 38px solid transparent;
  border-bottom: 70px solid #ffff;
}

.presentation_intro, .presentation_seller, .presentation_buyer {
  background-color: #9DC3E6;
  position: relative;
  font-size: 1.3rem;
}

.presentation_intro::before, .presentation_seller::before, .presentation_buyer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-right: 50px solid transparent;
  border-top: 90px solid #fff;
}

.presentation_intro .triangle, .presentation_seller .triangle, .presentation_buyer .triangle {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 40px solid transparent;
  border-top: 75px solid #2E75B6;
}

.presentation_intro ul, .presentation_seller ul, .presentation_buyer ul {
  padding: 15px 50px 30px 70px;
  text-align: justify;
}

.presentation_intro ul li, .presentation_seller ul li, .presentation_buyer ul li {
  margin-bottom: 10px;
}

@media all and (min-width: 767px) {
  .presentation_intro ul, .presentation_seller ul, .presentation_buyer ul {
    padding: 25px 100px 50px 100px;
  }
}

@media all and (min-width: 1024px) {
  .presentation_intro ul, .presentation_seller ul, .presentation_buyer ul {
    font-size: 1.5rem;
  }
}

.presentation_titre--fsize {
  font-size: 1.5rem;
}

@media all and (max-width: 767px) {
  .toggle {
    display: none;
  }
}

@media all and (max-width: 767px) {
  .visible {
    display: block;
  }
}

.rotate {
  -webkit-animation: rotation 0.5s forwards;
          animation: rotation 0.5s forwards;
}

@media all and (min-width: 767px) {
  .bloc_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 10px 20px 50px;
  }
  .bloc_container .bloc {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    font-weight: bolder;
  }
}

@media all and (max-width: 330px) {
  .presentation_intro .bloc_container, .presentation_seller .bloc_container, .presentation_buyer .bloc_container {
    padding: 0 20px;
  }
}

@media all and (max-width: 767px) {
  .presentation_intro .bloc_container, .presentation_seller .bloc_container, .presentation_buyer .bloc_container {
    padding: 0 38px;
  }
}

@media all and (min-width: 767px) {
  .presentation_intro .bloc_container, .presentation_seller .bloc_container, .presentation_buyer .bloc_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .presentation_intro .bloc_container .bloc, .presentation_seller .bloc_container .bloc, .presentation_buyer .bloc_container .bloc {
    margin: 15px;
    border-radius: 5px;
    -webkit-box-shadow: -12px 8px 9px #2F5597;
            box-shadow: -12px 8px 9px #2F5597;
    background-color: #2E75B6;
  }
}

.presentation_intro .bloc_container .bloc p, .presentation_seller .bloc_container .bloc p, .presentation_buyer .bloc_container .bloc p {
  padding: 10px 0;
}

.service_pack {
  margin-top: 20px;
}

.service_pack h2 {
  text-align: center;
  font-size: 1.7rem;
  margin: 15px 0;
}

@media all and (min-width: 1024px) {
  .service_pack .service_pack-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
  .service_pack .service_pack-title .title_left {
    position: relative;
    width: 250px;
    height: 100px;
    margin-right: 105px;
  }
}

@media all and (min-width: 1024px) and (min-width: 1200px) {
  .service_pack .service_pack-title .title_left {
    width: 250px;
  }
}

@media all and (min-width: 1024px) and (min-width: 1400px) {
  .service_pack .service_pack-title .title_left {
    width: 350px;
  }
}

@media all and (min-width: 1024px) {
  .service_pack .service_pack-title .title_left h2 {
    position: absolute;
    top: 45%;
    left: 20%;
    font-size: 2rem;
  }
  .service_pack .service_pack-title .title_right {
    position: relative;
    background-color: #2F5597;
    width: 650px;
    height: 100px;
    margin-left: 105px;
  }
}

@media all and (min-width: 1024px) and (min-width: 1200px) {
  .service_pack .service_pack-title .title_right {
    width: 650px;
  }
}

@media all and (min-width: 1024px) and (min-width: 1400px) {
  .service_pack .service_pack-title .title_right {
    width: 750px;
  }
}

@media all and (min-width: 1024px) {
  .service_pack .service_pack-title .title_right::before {
    content: "";
    position: absolute;
    left: -39.7px;
    border-left: 40px solid transparent;
    border-bottom: 100px solid #2F5597;
  }
}

@media all and (min-width: 1024px) and (min-width: 1200px) {
  .service_pack .service_pack-title .title_right::before {
    left: -39.2px;
  }
}

@media all and (min-width: 1024px) {
  .service_pack .service_pack-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media all and (min-width: 1024px) and (min-width: 1024px) {
  .service_pack .service_pack-container {
    height: 600px;
  }
}

@media all and (min-width: 1024px) {
  .service_pack .service_pack-container .container_left {
    position: relative;
    background-color: #2E75B6;
    width: 200px;
    height: 500px;
    margin-right: 105px;
  }
}

@media all and (min-width: 1024px) and (min-width: 1024px) {
  .service_pack .service_pack-container .container_left {
    height: 100%;
  }
}

@media all and (min-width: 1024px) and (min-width: 1400px) {
  .service_pack .service_pack-container .container_left {
    width: 300px;
  }
}

@media all and (min-width: 1024px) {
  .service_pack .service_pack-container .container_left::after {
    content: "";
    position: absolute;
    right: -199.3px;
    border-right: 200px solid transparent;
    border-top: 500px solid #2E75B6;
  }
}

@media all and (min-width: 1024px) and (min-width: 1024px) {
  .service_pack .service_pack-container .container_left::after {
    border-top: 600px solid #2E75B6;
  }
}

@media all and (min-width: 1024px) {
  .service_pack .service_pack-container .container_right {
    position: relative;
    background-color: #9DC3E6;
    width: 700px;
    height: 500px;
    margin-left: 105px;
  }
}

@media all and (min-width: 1024px) and (min-width: 1024px) {
  .service_pack .service_pack-container .container_right {
    height: 100%;
  }
}

@media all and (min-width: 1024px) and (min-width: 1400px) {
  .service_pack .service_pack-container .container_right {
    width: 800px;
  }
}

@media all and (min-width: 1024px) {
  .service_pack .service_pack-container .container_right::before {
    content: "";
    position: absolute;
    left: -199.3px;
    border-left: 200px solid transparent;
    border-bottom: 500px solid #9DC3E6;
  }
}

@media all and (min-width: 1024px) and (min-width: 1024px) {
  .service_pack .service_pack-container .container_right::before {
    border-bottom: 600px solid #9DC3E6;
  }
}

@media all and (min-width: 1024px) and (min-width: 1400px) {
  .service_pack .service_pack-container .container_right::before {
    left: -199px;
  }
}

.right_allpacks-container {
  text-align: center;
  background-color: #9DC3E6;
  padding: 10px 0;
}

.right_allpacks-container .right_pack-container {
  margin: 20px 40px;
}

.right_allpacks-container .pack-container_title p {
  font-size: 1.5rem;
}

@media all and (min-width: 1024px) {
  .right_allpacks-container {
    position: relative;
  }
  .right_allpacks-container .right_pack-warning {
    position: absolute;
    bottom: -20px;
    right: 20px;
  }
}

.right_allpacks-container .pack-container_details {
  background-color: #2E75B6;
  padding: 10px;
  border-radius: 5px;
}

.right_allpacks-container .pack-container_details li {
  list-style: none;
  margin: 5px 0;
}

.right_allpacks-container .pack-container_details .pack_details--underline {
  text-decoration: underline;
}

.right_allpacks-container .pack-container_details .pack_details--bold {
  font-weight: bolder;
  margin-top: 10px;
}

.right_allpacks-container .pack-container_details .defile {
  margin-left: 10px;
}

@media all and (min-width: 767px) {
  .right_allpacks-container .pack-container_details .defile {
    display: none;
  }
}

@media all and (min-width: 1024px) {
  .right_allpacks-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: initial;
  }
  .right_allpacks-container .right_pack-container {
    margin: 0;
    width: 32%;
  }
}

.service_carte {
  text-align: center;
  font-size: 2rem;
  margin: 100px 50px;
}

.service_byone {
  margin: 20px 0;
}

@media all and (min-width: 1024px) {
  .service_byone {
    width: 500px;
  }
}

@media all and (min-width: 1200px) {
  .service_byone {
    width: 600px;
  }
}

.service_byone .byone {
  margin: 5px 0;
}

@media all and (min-width: 767px) {
  .service_byone .byone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .service_byone .byone p + p {
    margin-left: 20px;
  }
}

@media all and (min-width: 1200px) {
  .service_byone .byone p {
    font-size: 1.3rem;
  }
}

footer {
  text-align: center;
}

footer h2 {
  background-color: #9DC3E6;
  margin: 20px;
  border-radius: 5px;
  font-size: 2rem;
}

footer .margin_side {
  margin: 0 20px;
  font-size: 1.1rem;
}

footer .contact {
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

footer .contact p {
  font-size: 1.5rem;
}

footer .contact a {
  font-weight: bolder;
}

@media all and (min-width: 767px) {
  footer .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 400px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  footer .contact a, footer .contact p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

footer .light {
  background-color: #2E75B6;
}

footer .dark {
  background-color: #2F5597;
}

footer .dark span {
  font-size: 0.7rem;
}

footer .infos_legales {
  font-size: 0.8rem;
  margin-top: 30px;
  color: #2F5597;
}
/*# sourceMappingURL=style.css.map */