.presentation_titre {
    position: relative;
    .defile {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        @include tablette {
            display: none;
        }
    }
}
.forme {
    position: relative;
    height: 70px;
    width: 80px;
    background-color: $form-color-dark;
}
.forme::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0;
    width: 0;
    border-left : 38px solid transparent;
    border-bottom: 70px solid #ffff;
}
.presentation_intro, .presentation_seller, .presentation_buyer {
    //background-color: #D2D2D2;
    background-color: $blue-azur;
    position: relative;
    font-size: 1.3rem;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-right : 50px solid transparent;
        border-top   : 90px solid #fff;
    }
    .triangle {
        position: absolute;
        top: 0;
        left: 0;
        border-right : 40px solid transparent;
        border-top   : 75px solid $form-color;
    }
    ul {
        padding: 15px 50px 30px 70px;
        text-align: justify;
        li {
            margin-bottom: 10px;
        }
        @include tablette {
            padding: 25px 100px 50px 100px;
        }
        @include desktop-s {
            font-size: 1.5rem;
        }
    }
}
.presentation_titre--fsize {
    font-size: 1.5rem;
}

//test du toggle
.toggle {
    @include max-tablette {
        display: none;
    }
}
.visible {
    @include max-tablette {
        display: block;
    }
}
//test du bloc format
.bloc_container {
    @include tablette {
        display: flex;
        justify-content: center;
        padding: 20px 10px 20px 50px;
        .bloc {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            //border-bottom: solid;
           // border-left: solid;
            // p {
            // //    margin: auto;
            //     display: flex;
            //     justify-content: center;
            //     align-items: flex-end;
            // }
        }
    }

}
.presentation_intro, .presentation_seller, .presentation_buyer {
    .bloc_container {
        @include tablette {
            flex-wrap: wrap;
            .bloc {
                //width: 45%;
                margin: 15px;
                border-radius: 5px;
                // border-bottom: solid $form-color-dark;
                // border-left: solid $form-color-dark;
                box-shadow: -12px 8px 9px $form-color-dark;
                background-color: $form-color;
            }
        }
    }
}



//partie service pack
.service_pack {
    margin-top: 20px;
    h2 {
        text-align: center;
        font-size: 2rem;
        margin: 15px 0;
    }
    @include desktop-s {
        .service_pack-title {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            .title_left {
                position: relative;
                width: 250px;
                height: 100px;
                margin-right: 105px;
                @include desktop-m {
                    width: 250px;
                }
                @include desktop-l {
                    width: 350px;
                }
                h2 {
                    position: absolute;
                    top: 45%;
                    left: 20%;
                    font-size: 2rem;
                    // @include max-tablette {
                    //     position: inherit;
                    // }
                }
            }
            .title_right {
                position: relative;
                background-color: $form-color-dark;
                width: 650px;
                height: 100px;
                margin-left: 105px;
                // @include max-tablette {
                //     display: none;
                // }
                @include desktop-m {
                    width: 650px;
                }
                @include desktop-l {
                    width: 750px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: -39.7px;
                    border-left: 40px solid transparent;
                    border-bottom: 100px solid $form-color-dark;
                    @include desktop-m {
                        left: -39.2px;
                    }
                }
            }
        }
        .service_pack-container {
            display: flex;
            justify-content: center;
            .container_left {
                position: relative;
                background-color: $form-color;
                width: 200px;
                height: 500px;
                margin-right: 105px;
                // @include max-tablette {
                //     display: none;
                // }
                @include desktop-l {
                    width: 300px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    right: -199.3px;
                    border-right: 200px solid transparent;
                    border-top: 500px solid #2E75B6;
                }
            }
            .container_right {
                position: relative;
                //background-color: #D2D2D2;
                background-color: $blue-azur;
                width: 700px;
                height: 500px;
                margin-left: 105px;
                // @include max-tablette {
                //     margin-left: 0;
                // }
                @include desktop-l {
                    width: 800px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    left: -199.3px;
                    border-left: 200px solid transparent;
                    //border-bottom: 500px solid #D2D2D2;
                    border-bottom: 500px solid $blue-azur;
                    // @include max-tablette {
                    //     display: none;
                    // }
                    @include desktop-l {
                        left: -199px;
                    }
                }
            }
        }
    }
}
.right_allpacks-container {
    text-align: center;
    //background-color: #D2D2D2;
    background-color: $blue-azur;
    padding: 10px 0;
    .right_pack-container {
        margin: 20px 40px;
    }
    .pack-container_title {
        p {
            font-size: 1.5rem;
        }
    }
    .pack-container_details {
        //background-color: #C7CACB;
        background-color: $form-color;
        padding: 10px;
        li {
            list-style: none;
            margin: 5px 0;
        }
        .pack_details--underline {
            text-decoration: underline;
        }
        .pack_details--bold {
            font-weight: bolder;
            margin-top: 10px;
        }
        .defile {
            margin-left: 10px;
            @include tablette {
                display: none;
            }
        }
    }
    @include desktop-s {
       display: flex;
       background-color: initial;
       .right_pack-container {
        margin: 0;
        width: 32%;
    }
    }
}

//service carte
.service_carte {
    text-align: center;
    font-size: 2rem;
    margin: 100px 50px;
}
.service_byone {
    margin: 20px 0;
    // @include tablette {
    //    margin: 0;
    // }
    @include desktop-s {
        width: 500px;
    }
    @include desktop-m {
        width: 600px;
    }
    .byone {
        margin: 5px 0;
        @include tablette {
            display: flex;
            justify-content: space-between;
            p + p {
               margin-left: 20px;
            }
        }
        @include desktop-m {
            p {
                font-size: 1.3rem;
            }
        }
    }
}




