.bg-img {
    background-image: url('./assets/images/bg-img.png');
    background-size: cover;
    height: 300px;
    background-attachment: fixed;
}
.presentation {
    text-align: center;
    p {
        font-size: 1.3rem;
    }
}
h1 {
    font-size: 1.7rem;
    text-decoration: underline;
    color: $form-color;
    margin: 20px 0;
}
.presentation_initial {
    font-size: 1.4rem;
    li {
        margin-bottom: 10px;
    }
    @include desktop-s {
        font-size: 1.6rem;
    }
    .presentation_initial--bolder {
        font-weight: bolder;
    }
}
.presentation_titre {
    display: flex;
    margin-bottom: 5px;
    position: relative;
    h2 {
        align-self: center;
    }
    .presentation_titre--fsize {
        align-self: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

    }
}
.forme {
    position: relative;
    height: 70px;
    width: 80px;
    background-color: $form-color-dark;
}
.forme::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0;
    width: 0;
    border-left : 38px solid transparent;
    border-bottom: 70px solid #ffff;
}
.presentation_intro, .presentation_seller, .presentation_buyer {
    background-color: #D2D2D2;
    position: relative;
    font-size: 1.3rem;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-right : 50px solid transparent;
        border-top   : 90px solid #fff;
    }
    .triangle {
        position: absolute;
        top: 0;
        left: 0;
        border-right : 40px solid transparent;
        border-top   : 75px solid $form-color;
    }
    ul {
        padding: 15px 50px 30px 70px;
        text-align: justify;
        li {
            margin-bottom: 10px;
        }
        @include tablette {
            padding: 25px 100px 50px 100px;
        }
        @include desktop-s {
            font-size: 1.5rem;
        }
    }
}
//partie service a la carte 
.byone {
    text-align: center;
    font-size: 1.3rem;
    p {
        display: inline;
    }
}