@mixin mobile-m {
    @media all and (max-width: map-get($map: $breakpoints, $key: mobile-m)) {
        @content;
    }
}
@mixin mobile-l {
    @media all and (min-width: map-get($map: $breakpoints, $key: tablette-s)) and (max-width: map-get($map: $breakpoints, $key: tablette)){
        @content;
    }
}
@mixin tablette {
    @media all and (min-width: map-get($map: $breakpoints, $key: tablette)) {
        @content;
    }
}
@mixin desktop-s {
    @media all and (min-width: map-get($map: $breakpoints, $key: desktop-s)){
        @content;
    }
}
@mixin desktop-m {
    @media all and (min-width: map-get($map: $breakpoints, $key: desktop-m)){
        @content;
    }
}