$logotext: #A5B7C5;
$form-color-dark: #2F5597;
$form-color: #2E75B6;


//map
$breakpoints: (
    mobile-m: 376px,
    tablette-s: 425px,
    tablette: 767px,
    desktop-s: 1024px,
    desktop-m: 1200px,
    desktop-l: 1400px
);